---
title: "Archive"
---
<ul>
  {% for post in site.posts %}

    {% unless post.next %}
      <h3>{{ post.date | date: '%b %Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%b %Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%b %Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%b %Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li>{{ post.date | date:"%b %d, %Y" }}: <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
